sudo: false
language: python
python:
- '2.7'
- '3.3'
- '3.4'
- '3.5'
- '3.6'
- 3.7-dev
- nightly
- pypy
matrix:
  fast_finish: true
  allow_failures:
  - python: 3.3
  - python: 3.7-dev
  - python: nightly
  - python: pypy
install:
- pip install --upgrade pip
- pip install pep8==1.7.0
- pip install pyflakes==1.3.0
- pip install pytest==3.0.3
- pip install pytest-flakes==1.0.1
- pip install pytest-pep8==1.0.6
- pip install requests_mock==1.1.0
- pip install pytest-cov==2.4.0
- pip install coveralls==1.1
- pip install --upgrade --pre vcd-cli>=19.0.7.dev47
- python setup.py --version
- python setup.py develop
before_script:
- eval "MACHINE=travis-$TRAVIS_EVENT_TYPE-$TRAVIS_JOB_NUMBER-$TRAVIS_COMMIT"
- echo MACHINE "$MACHINE"
- vcd login $VCD_SERVER $VCD_ORG testrunner --vdc $VCD_VDC -V "27.0"
- vcd vapp create $VCD_CATALOG li45template "$MACHINE"
- python utils/cloud_server.py vm publiclyaccessible "$MACHINE"
- python utils/cloud_server.py vm bootstrap_li "$MACHINE"
- eval $(python utils/cloud_server.py vm externalip --env "$MACHINE")
script:
- py.test --server "$IP" --license "$LICENSE" --flakes --cov=pyloginsight --cov-config=tox.ini
  --cov-fail-under=60 --cov-report term-missing
after_success: coveralls
before_deploy:
- git describe
- echo TRAVIS_TAG $TRAVIS_TAG
- echo version=\"$TRAVIS_TAG\" > $TRAVIS_BUILD_DIR/loginsightexport/__version__.py
deploy:
  provider: pypi
  user: alanjcastonguay
  password:
    secure: H1pABdQtixeteUJK2o9dn94ZpfA6Tqu2e/N8yHY/YO2Mhu/D4gveR1hyPVVywoXeVsd2tQ02eAwUs/15aroydS5TtGmTwNnEmlHa9C1oFV6JEzZyexu2m3a1o5WXbQu7pgM01klnC7/7dUufFM8OiOZyOoiulU6IJIrqqdpTzISCdkjOBQ7rqZg01IrtQ0bUm05shcm2KW5aOqaZEoRKVcVcNF+jNOmN0pp0N9z8JS8Bv8t1u8jW8Cw8G+QmhF8qaV7G+kh/GVakeXJkz7wAVNIlrKrQVtPJwF1YpmKK7bJga/rDVvB67wkEF42amjMzlBj7R6ymA4YtT+DNe1ATHDt80Uxi7+t5/I6i67k+W1c6aaBdOZjduyD+nRXj76xy24wHYzt1ND5i3m8aFKkTJTrdb8rI06WpkuTENYMbVYMIXu2QKZogQ7ExyRy194kKI8GQp4cdTKUhqYVXFFK6uR4WyrAl3UKIAXfaFatG23LLjEP3rz53bCX3aKS/akKpXPbaTKXE5mw7lAtfIeFe0kggosy8OTp6qix68qlcdL/tid0Sbv/Am+FQyH7teI1yN+A3k6SitNQll7Cywkq+SIyPN8Y0Mptf6h/mUloFMqyvJv37Bn5B8doPi/Y71dwiMA8llKo80x+jHTvo6LHu+gABlVdHDYEonBHS1Qac5RE=
  on:
    tags: true
    branch: master
env:
  global:
  - secure: llyA92RShKLX4H0Cph6v8M2xrE6dL/nS8J3NQXzXJoKAR/Jo0syvcmcINu19Sab0atZwEBbR8yhDfkYGJq06bFfxwTLnOTLk7NGOXabYG7jb3oLzRlAmchsECXRjf5px5a9584OJTDX4h9REytXr7Ex3a0W94xH6S8LppWxA3zDqmol9NuVkG6qYjoiw3+rE4oTf1J7QW8TctaJlDWMTgEHl3ElDp5C5Dxk0wm3DT4MTCSvlEIuRJ7HUBuuKS45p+HKk5znwYnj/4ZsA7oDH3lJXRGP5UedLuqe51HIJFG4TpkKjW0jZhyL9eYpmqGyTawcicUtNcbWAdWgPGkuMJNGOlYzYnDRxj49mgIWaWFgu0VPCR0G3FtqUccGgpGazKxMNm/ENvTiNRZHIOAlDrnoPd1dcl26AEQWzjAX2Sk63gsgd6+W3QUU1xqjhy7wnf11oMKGo6Qjkq3W+Kqag1E3ca9JoVrnevIBy1W76+VlnNCqlz+ReyQS+ws5xE8n8L0DDKOezaX3Wu0QBW+clMu/+DECCJ6Gvd4I67LWPUvxSlniOr8fEWCUNTEtY/CH4PCYqe+QjrHLZzGnEozixwEEcDwMx5QDSRFLw75d7+jXhgxWysjyon6juu14bT6R/BLqzdvBbLCUR4ZHl6+oeAPa9RFGCPOniWPV30V4LYuQ=
  - secure: Qct5AjEw7oaWqRMR0qOD8cUQVZIYlpqqmskw4uiDOOACsT81JWsyTme3zn7ywcACB0MfhCB6Jmo9OOzu1hqhnNEMDiWzYm1xp9GoXsA1QyOJQhqC3dxDKNt+qKEMy1tkQ3WPhVn+OWOFtEUPBlfdPpKBsVu5P2YDwjMsXZjNA0l1meSixnx5e83FmcFgdJlBhpnjwxItYPAhXvJPoQ01cXvuVgW80Ty1NXx//82uMWAVSyAjptHNoUT0XqJB61s4biwXbLyDKk3lVFASNMpybocVEjZKjFh9WiL1F8MOtUeeqb8aM3fDssRlh8H8P1fpXh4rfT4EVhBG24UscpfScCg7CrOo4r09NZOUKUu2NyU6BJ7jrmsrdwXUDW8IL3PuneP/u6UY64of32Eb9hu+7GgmhuihoJl7TfkCjVRWTt56dTw983G5IDHS6g86kgacIjUUo3cVUFf79a64FMh3Rux8L01YUpabuhNp6YIrQOml+qTKpbiCzipLL01+HF5lZMpW0P0ypmF5PMdTL1uIJ+SRAfSB8Ht9kVMgOGt53oLaDkw3365jGrTziT61W9ORYmlOC0LBWjwyNEjdA4wQB1pZZD9ZaE50SPXWUKNQXcS+3PzAFs8g6JQ1mC0lHW+eCejarG8zLnAqVKkZpb/M133ok7DalfSz3rFvoFd+yd4=
  - secure: Hu2zVvk4YherSMOx+H2f5a8NSQ5IEv8zSZt6myAEifAjujWO23e/abWHpG9n0mPt8O36vIVqp1p++ncaLyif9W6TeUyVwr5K0ihFbCaU3ZubYZUGw/rJrbGLZ4QU5C+ceJCADy1vS+EGUeqy1Pi9OIqPVBgDLU3GXdHR9TIlv64JpnOJ+IdPdgFc768UGPEuJQVhb8m/8AY9IQj6foiD661DAVCuGRNIVpKAMsold3dyV9/e00skbvSPOFXdFYdF784nZWfI3JZkXFUZMVYB2Bh3J5S0yviSoxCbnNsrh87J7TnYxBTY4708SePto8i3TNSLhm6+6m8ksTQQ+zsriWe8aLQlTs1MaiM6XBf9tCW2AnHJ0H3nGjDa8E25FBUk0FQbvhdOUdbzUv8lJV7c53JyqlBPh6/W3t/EWA59bDlmzabV6SAkboXMF9V84Ii/9o1YnqQROpCsYg8ECEvkSCXdHCK2cRUocJxMox0GQpIUpBmslgXHbx7+XnLTILj1D19EOt6x1Ag+U73HV21gQHcqfajMZVW86y3/7fitvRJq3kqdVlVMBaDqkKJizJt8UrSdJ0MpHFg9/z/Vv98Kj6zrMDdnEdXbCNCyQLQdf0G/kQ+YK4YBokMqoBZOfnaD2FT4S/HjKA1GM0YKHt2LDSBcxAdBkLUaZc84GsZMv6A=
  - secure: wJyN18J0o8oaDLgwxFoUaZy0KBmWqShSFo/7+j5BWn3YXYJWIHM2WsHJK/3aYDzCBEnP7HZTACvevc65TTP6QapoAOkWr0j+kZ2m7rEmZNafWES36h2k+fvxco+4NdDEJ4cSawrCqG7gcRnlQ1Ooy6zVcZ4lsQjG5jbG+/j2qofGs8kCXRtNOKewICeJqgxzCejCQI0PfAxaK56sFTY1/0yN+pxL2G9bp7tTbFbAWTP3aOCWCywZ4pTWnvi8XKsVZRd8VeF+hhc28KLTbVLbe2cINeh1VerBe9I8uW+QjDjIlzPkHByL5Yd1hNswzcT/kFea00ER/DzGoXiSArtf48JpELAqgt/82ZCRUBpGFh/oos7ERHs1bIFlWM52S8AQf3FBaLGY9AuQu9GpgGL8q9m7apyljEwRBY2F9FTPhK952TkYYRVwDBxVbr/sqby9M+J8ag4GuDgl9JxpBb4o+Gui8jHT4ZlRBun0BNJk/Sd80/S4I96cYz/g/vOz0AwM9EunWcguq5bSR0Kx2t1NlxazwZmme12p/FlgR7AOdKylz4YhVKGI11B3lbNtN4yiU/2rEMAqjNioApvTrYFk1st/onVYabob7aXi7a1yzRzd0C2Fdsg/DXe5UQqY7Ka5YFHJRkL5xnYFmmpa7d4Lfr2SA697UTgMqyNzCgmbWDk=
  - secure: QGz9JX/u09M2hJbwvx6yHJLk288JYsuugnXNnGlQPH1vkEQADioSwxC09cvXettVh4pTZTfwqqVXRJXR7Dkv9MU1hmzNNdhs2ywEGo4TtZDkqQ8PRuM7swr+9iQek9VwXSvz4aPpeDoA/a1jC0lbIFE69tQqsxa6XlN8ddkWI2gHpEjYYb6WECFSVGGlSjpeZY5CDjN+NoElm5Nht/aax5HUVicjQwbE3ZXswA/jyaro2EUo8DcbaKXvQ2X9bv4+Jlaqc1nlA+mukUdNkVixZ/QlDsVfWyw3D6h0Mym0cFAoZjcsoZwlPF5ZtQraKoNOTMwaMpcl1fn/1OyEXD6WJN/iTpwx4H1AFKzlITG3UZhnAdAcG9gUCZXcVoz+ZO0+tSAuJpuac9M4D3jRLcZ8Dx6/PBCjSJFp98d3n89PMWgJ3ohdljMeWtVwto5/Xl61i+s9DnO0xmQwEcfUUrMgZ3a9vkGJkIIZjfo9aSeiQz2fpJL7IqvjX8VoZ4phW8PcGQZTEJOjOlKxxDC6wQXNw4xZ2w4mlND7xdQcNjrCfFxAlADWV9BGinXVX7I/26K24U4hJ1yncqTu+CERQwPd/DtUppE4/cxYXH5J/I7OA27mYq2PDb3Oo0/A1maDm2kWepW7P085Wn1CxKA9jXNTEBHKpf+jaH368aTPvfYUgRo=
  - secure: aMSmlrj/p/qMuU0BLbYL5C1TescibUtr5jsn1ESY+y3rT3x7JVT7SELicrPVN5/jFNGxub/uxin2wWpptQwzkWoMqR/5pms3wptfvMX3xgFi3VooHMD8+buxLNngRnqo3pj0zTDoWn3WXozWsSpPPIDiiAOnXvcRO1pHinPz+hdp0f18APEZ4GkhH+6dnXDbR1qtsvAOD2nWQCng8FwfSTTrTKJcGBToCNCjt5DPRRkpCa6TpZalRNg3A8wRu0vt3IWm829OxKNMz1OXYuTp6xYvp4gbcsygN+WqJyl4CA+GGZCTCklckUsKMH7p4026OTEi9pnrC+qQruNZ+ho8ME6wsdAtJcW1tG+SKGhTkiG6fK074rdj3tAy+V6tmItSeIqUHU9C0PPUyL9pPJU9aWkxyEOmdarjDNeM0neeiT2tzBaYTWPF9HD7no5T5YL2wGNnY9hqfcoQxZwqhRAjlmX/ffvDZU75vnGi+0aextDjTWzO1kOM5O4UEANBP9pxt4wKCqaV1ry2DPLGL7iI/gHKjBQGRoX37IsTjppVy3XwyGHG+7rX3Odw6vwvFUkW+Z52nRC/AdDMmB1pmJc8GuVLmgr4VEw1hV183jqd127fZwk9KdY7+7Rg1S8Rl53e9hjTvJ+CWSgIU+TKua7O8m7x16/RZZfqUfXYUnA68hE=
